
.userRegisterText{text-align: center; font-weight: 600; color: #DEC549; font-family: 'Pacifico', cursive; font-size: 280%; margin-bottom: 4%; text-decoration: underline;}
.userRegisterformDiv{margin-left: 10%; margin-right: 10%;}
.userRegisterJumbotorn{margin-top: 1%;}
.userRegisterLabel{margin-top: 1.5%;}
.RegisterSubmitButton{width: 70%; margin-left: 15%;}
.no-border{
	border : none !important;
}
input#editDescription{
	height: 150px !important;
	border-bottom: none;
}
#ShowUserImage{
	height: 15%; width: 15%;
}